<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) 2010, 2011 Felix Freiberger
felix@familie-freiberger.net

This file is part of AutoUsers.

AutoUsers is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
AutoUsers is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with AutoUsers.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoUsers.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <AutoUsers.MySettings>
      <setting name="autoAddNewUsersToGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoGeneratePasswords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setDefaultPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultPassword" serializeAs="String">
        <value>xxxx</value>
      </setting>
      <setting name="AutoPasswordLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="setEmptyPasswords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpireNewPasswords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="deleteUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="disableUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deleteUserFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deleteUserFilesBatch" serializeAs="String">
        <value>&lt;keine Angabe&gt;</value>
      </setting>
      <setting name="AutoPasswordChars" serializeAs="String">
        <value>ABCDEFGHIJKLMNOPQRSTUVWXYZ|abcdefghijklmnopqrstuvwxyz|0123456789|!§%&amp;/()=</value>
      </setting>
      <setting name="CopyrightNoticeShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="upgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateURL" serializeAs="String">
        <value>https://autousers.googlecode.com/svn/webupdate/</value>
      </setting>
      <setting name="performUpdateChecks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lastUpdateCheck" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="performUpdateCheckEvery" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="setHomeDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HomeDir" serializeAs="String">
        <value />
      </setting>
      <setting name="syncModeSync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="syncModeSyncAdd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="syncModeSyncDelete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="syncModeAddAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="syncModeDeleteAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setProfileDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileDir" serializeAs="String">
        <value />
      </setting>
      <setting name="setLogonScript" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogonScript" serializeAs="String">
        <value />
      </setting>
      <setting name="createUserDirsBatch" serializeAs="String">
        <value>&lt;keine Angabe&gt;</value>
      </setting>
      <setting name="createUserDirs" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoUsers.MySettings>
  </userSettings>
</configuration>
